<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>computerVScomputer</title>
    <link rel="stylesheet" href="../styles/playGame.css">
</head>
<body>
    <div id="choices" class="choices">
        <button id="clickToPlay" class="gameStyle" onclick="playGame('newGame')">Click to play</button>
    </div>
    <div id="computer_1_Display" class="gameStyle">Computer_1: </div>
    <div id="computer_2_Display" class="gameStyle">Computer_2: </div>
    <div id="resultDisplay" class="gameStyle">Result: </div>

    <script src="../JS/computerComputer.js"></script>
</body>
</html>