<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playerVScomputer</title>
    <script scr="script.js"></script>
    <link rel="stylesheet" href="../styles/playGame.css">
</head>
<body>
    <div id="choices" class="choices">
        <button class="selection" id="rockBtn" onclick="playGame('rock')">✊</button>
        <button class="selection" id="paperBtn" onclick="playGame('paper')">🤚</button>
        <button class="selection" id="scissorsBtn" onclick="playGame('scissors')">✌</button>
    </div>
    <div id="playerDisplay" class="gameStyle">Player: </div>
    <div id="computerDisplay" class="gameStyle">Computer: </div>
    <div id="resultDisplay" class="gameStyle">Result: </div>
    <script src="../JS/playerComputer.js"></script>
</body>
</html>